<app-tip-header [headerText]="'התחברות למטפל'"></app-tip-header>

<ion-content>
  <div class="therapist-container" *ngIf="!isLoading">
    <div class="w-75 d-flex flex-column align-items-center">
      <ion-label style="font-size: large">שם המטפל:</ion-label>
      <br>
      <ion-label style="font-size: xx-large">{{therapist.firstName}} {{therapist.lastName}}</ion-label>
    </div>
    <ion-button mode="ios" color="success" (click)="connectToTherapist()">
      התחבר למטפל
    </ion-button>
  </div>
</ion-content>
