<app-tip-header [headerText]="'המטופלים שלי'"></app-tip-header>


<ion-content>
  <ion-grid style="direction: rtl;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="7" size-lg="6" size-xl="4">
        <ion-item *ngFor="let patient of myPatients">
          <ion-avatar slot="start">
            <ion-img src="../../../assets/icon/profile.svg"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{patient.firstName}} {{patient.lastName}}</h2>
            <p>Go back, Sam! I'm going to Mordor alone!</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
