<app-tip-header [headerText]="'רשימת המילים המוצעות'"></app-tip-header>

<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>רשימת המילים המוצעות:</ion-title>-->
<!--  </ion-toolbar>-->
<!--  <ion-title >המילה הנדרשת אמורה להופיע ברשימה:</ion-title>-->
<!--</ion-header>-->

<!--<ion-header>-->
<!--  <ion-title >המילה הנדרשת אמורה להופיע ברשימה:</ion-title>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-grid class="h-100">
    <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
    <ion-row *ngIf="!isLoading && finalWord?.length > 0" class="ion-justify-content-center">
      <ion-col class="text-center col-12" size="11" size-md="7" size-lg="6" size-xl="4">
        <h2 class="font-weight-bold">בחר את המילה אותה חיפשת</h2>
        <div *ngFor="let word of finalWord">
          <ion-button mode="ios" (click)="chooseWord(word)" class="w-75">
            {{word.word}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-row class="ion-justify-content-center">
        <ion-col class="text-center col-12" size="11" size-md="7" size-lg="6" size-xl="4">
          <ion-button mode="ios" size="11" size-xl="4"
                      class="w-75" color="danger" fill="outline" (click)="presentActionSheet()">
            המילה שחיפשתי לא מופיעה
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
