<app-tip-header [headerText]="'קטגוריות'"></app-tip-header>

<ion-content [dir]="'rtl'">
  <ion-grid class="h-100">
    <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
    <ion-row *ngIf="!isLoading && currentCategories?.length > 0" class="ion-justify-content-center">
      <ion-col class="text-center col-12" size="11" size-md="7" size-lg="6" size-xl="4">
        <h2 class="font-weight-bold text-center" >{{question}}</h2>
        <div *ngFor="let category of currentCategories">
          <ion-button mode="ios" class="w-75" (click)="goSubCategories(category)">
            {{category.categoryName}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="arrayOfCategories?.length > 0">
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center col-12" size="11" size-md="7" size-lg="6" size-xl="4">
        <ion-button mode="ios" size="11" size-xl="4"
                    class="w-75" fill="outline" (click)="prevCategory()">
         חזור לקטגוריה הקודמת
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
