<ion-header>
  <ion-toolbar>
    <div class="text-center">
      <ion-title>
        הפרופיל שלי
      </ion-title>
    </div>
    <ion-icon style="font-size: xx-large" name="close" (click)="modalController.dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="7" size-lg="6" size-xl="4">
        <div class="profile-image">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/icon/profile.svg" class="w-75">
          </div>
          <div class="d-flex flex-row">
            <ion-fab-button class="icon-container" (click)="openCamera()">
              <ion-icon name="camera-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button class="icon-container" >
              <ion-icon name="image-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
