<app-tip-header [headerText]="'patient-home'"></app-tip-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="11" size-lg="11" size-xl="11">
        <ion-card class="ripple-parent ion-activatable" (click)="openMyProfile()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header class="text-center" style="font-size: large">
            הפרופיל שלי
          </ion-card-header>
        </ion-card>
        <ion-card class="ripple-parent ion-activatable" (click)="goToMainCategories()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header class="text-center" style="font-size: large">
            התחל
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="d-flex justify-content-center w-100">
      <ion-button class="w-50" color="danger" fill="outline" (click)="logout()">
        התנתק
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
