<app-tip-header [headerText]="'therapist-home'"></app-tip-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="7" size-lg="6" size-xl="4">
        <ion-card mode="ios" class="ripple-parent ion-activatable" (click)="openMyProfile()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header class="text-center" style="font-size: large">
            הפרופיל שלי
          </ion-card-header>
        </ion-card>
        <ion-card mode="ios" class="ripple-parent ion-activatable" (click)="sendLinkToPatient()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header class="text-center" style="font-size: large">
            הוסף מטופל
            <i class="fas fa-user-plus"></i>
          </ion-card-header>
        </ion-card>
        <ion-card mode="ios" class="ripple-parent ion-activatable" (click)="openMyPatients()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header class="text-center" style="font-size: large">
            המטופלים שלי
            <i class="fas fa-users"></i>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center col-12" size="11" size-md="7" size-lg="6" size-xl="4">
        <ion-button mode="ios" class="w-75" color="danger" fill="outline" (click)="logout()">
          התנתק
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
